body{
    text-align: center;
    margin-top: 100px;
    background: white;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: rgb(125, 201, 176);
    
    height: 15px;
}
h2{
    color: rgb(161, 37, 37);
    margin-bottom: 60px;
    text-align: center;
}
p{
    color:rgb(0, 0, 0);
    font-size:20px;
    
}

